@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Цагараев Геор</h1>
    <p>Я учу ASP и это мой первый крутой проект.</p>
    <div>
        <img class="img-fluid"  src="images/startdevelopweb.png"> </img>
    </div>
    <ul>
        <li>
            25.02.2025
            <ul>               
                <li>Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</li>
                <li><a asp-controller="User" asp-action="Index"> Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</a></li>
            </ul>

</div>
