@{
    ViewData["Title"] = "Первое домашнее задание";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul>
        <li> <a asp-controller="Start" asp-action="Hello">Задача 1. Время суток </a></li>
        <li>  <a asp-controller="Calc" asp-action="Index"> Задача 2. Калькулятор </a></li>
        <li>  <a asp-controller="Calc" asp-action="Index"> Задача 3. Калькулятор с операцией </a></li>
        <li>  <a asp-controller="Calc" asp-action="Index"> Задача 4. Калькулятор с операцией и query параметрами </a></li>
    </ul>
    
   Дедлайн 17.03.2026
</p>
