@{
    ViewData["Title"] = "Первое задание";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul>
        <li> Задача 1. Время суток</li>
        <li>Задача 2. <a href="/Calculator/Index/1/3">Калькулятор</a> </li>
        <li>Задача 3. Калькулятор с операцией</li>
        <li>Задача 4. Калькулятор с операцией и query параметрами</li>
    </ul>
    
    тут добавлю дедлайн
</p>
