@{
    ViewData["Title"] = "Первое домашнее задание";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul>
        <li>Задача 1. <a asp-controller="start" asp-action="hello">Время суток</a></li>
        <li>Задача 2. <a asp-controller="calculator" asp-action="index" asp-route-a="1" asp-route-b="3">Калькулятор</a></li>
        <li>Задача 3. <a asp-controller="calculator" asp-action="index" asp-route-a="1" asp-route-b="3" asp-route-c="+">Калькулятор с операцией</a></li>
        <li>Задача 4. Калькулятор с операцией и query параметрами</li>
    </ul>
    
   Дедлайн 17.03.2026
</p>
